.modal-content {
  border-radius: 15px;
}

.modal-header {
  border-bottom: none;
}

.modal-footer .btn {
  border-radius: 10px;
  width: 45%; /* Custom width for buttons */
}

.profile-info p {
  font-size: 1rem;
}
